@import url('../SCSSCONFIG/config.scss');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');



.home {
    position: relative;
    height: 89vh;
    width: 100%;
    padding-top: 68px;

    .square_color {
        position: absolute;
        border-radius: 50%;
        pointer-events: none;
        animation: circle_Animate 5s linear infinite;
    }

    @keyframes circle_Animate {
        0% {
            transform: scale(0) translate(0) rotate(0);
            opacity: 0;
        }

        20% {
            opacity: .2;
        }

        40% {
            opacity: .4;
        }

        60% {
            opacity: .6;
        }

        100% {
            transform: scale(1) translate(-500%) rotate(360deg);
            opacity: 1;
        }

    }

    .home_container {
        
        .light_design {
            width: 3px;
        }

        .home_img {
            width: 100%;
            height: 89vh;
            object-fit: cover;
        }

        .home_title_container {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .home-title-content{
                width: 45%;
                background-color: var(--white-color);
                padding: 15px;
                border-radius: 10px;
                color: var(--blue-color);
                -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.32); 
                box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.32);
                p{
                    font-family: 'Cabin Sketch', cursive;
                    margin-bottom: 17px;
                }
                & > div {
                    text-align: center;
                }
                .go-to-about{
                    padding: 10px;
                    background-color: var(--blue-color);
                    color: var(--white-color);
                    text-decoration: none;
                    border-radius: 4px;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 300px) {
    .home{
        height: auto;
        .home-center{
            margin: 150px 0 !important;
        }
        .go-to-about{
            padding: 6px !important;
        }
    }
}

@media screen and (max-width: 751px) {
    .home{
        height: auto;
        .home-center{
            margin: 100px 0 0 0;
        }
    .home_container {
        .home_title_container{
            right: 0 !important;
            display: block;
            top: 40%;
        .home-title-content{
            width: 80% !important;
            margin: auto;
            P{
                line-height: 17px;
                font-size: 12px;
            }
        }
    }
    }
}
}


@media screen and (min-width: 752px) and (max-width: 1105px) {
    .home{
        height: auto;
        .home-center{
            margin: 100px 0;
        }
    .home_container {
        .home_title_container{
            right: 0 !important;
            display: block;
            top: 35%;
        .home-title-content{
            width: 75% !important;
            margin: auto;
        }
    }}}
}